.all-container
    padding: 20px;
    .header
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,33,64,0.7);
        border: 1px solid rgba(0,33,64,0.7);
        border-radius: 10px;
        color: #ccc;
        font-size: 22px;
        line-height: 33px;
        box-shadow: 8px 8px 8px 3px #999;

        