.ant-modal-body
    height: 530px
    display: flex
    flex-direction: column
    overflow hidden
    padding: 0 24px
    & > p
        height: auto
    .main
        flex: 1
        max-height: 400px
        overflow: auto 
    .ant-row
        height: auto
        min-height: 80px