.changeInfo-container
    .main
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
        margin-bottom: 50px;
        li
            width: 30%
            .ant-form-item
                margin-bottom: 8px;
